body {
    background-image: url(./Coffee.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.header {
    color: rgb(255, 255, 255);
    padding: 25%;
    text-align: center;
}

.header h1::before {
    content: "I'm Anson Rui";
    font-size: 200%;
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {
        content: "I'm "
    }
    8% {
        content: "I'm A"
    }
    16% {
        content: "I'm An"
    }
    24% {
        content: "I'm Ans"
    }
    32% {
        content: "I'm Anso"
    }
    40% {
        content: "I'm Anson"
    }
    48% {
        content: "I'm Anson "
    }
    56% {
        content: "I'm Anson R"
    }
    64% {
        content: "I'm Anson Ru"
    }
    72% {
        content: "I'm Anson Rui"
    }
    81% {
        content: "I'm Anson Rui"
    }
}

.sidebar {
    position: fixed;
    width: 100%;
    height: 5%;
    background: black;
    top: 0%;
    left: 0%;
    border: 3px white;
    overflow: hidden;
}

.sidebar p {
    color: white;
    text-align: left;
}

.sidebar td {
    text-align: left;
    padding: 0px 20px;
}

.sidebar p:hover {
    transition: 0.4s;
    color: rgb(255, 206, 146);
}

table {
    margin-left: auto;
    margin-right: auto;
}

.profileSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;
    flex-wrap: wrap;
}

.box {
    width: 30%;
    min-width: 400px;
    text-align: center;
    font-size: 200%;
}

.box img {
    width: 100%;
    height: auto;
}

.box h3 {
    font-weight: lighter;
}

.abilities th {
    padding: 20px 100px;
}

.unchecked {
    color: darkgray;
}

.container {
    margin: auto;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    height: 30%;
    padding: 0px 10%;
    color: black;
}

.container h1 {
    text-align: left;
}

.container:hover {
    transition: 0.4s;
    background: rgb(187, 187, 187);
    color: rgb(255, 255, 255);
}

.container img {
    max-height: 200px;
    max-width: auto;
    margin: 0px 20px;
    float: right;
}

.smallContainer {
    background-color: rgb(255, 206, 146);
    border: none;
    margin: 0px 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    padding: 0px 10px;
}

.abilitiesSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;
    flex-wrap: wrap;
}

.individualAbility {
    display: grid;
    width: 40%;
    min-width: 400px;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.A {
    text-align: center;
    grid-area: auto;
}

.B {
    text-align: center;
    margin-top: 25px;
    grid-area: auto;
}

.contacts img {
    max-width: 50px;
    max-height: 50px;
}